<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
<header th:replace="fragments :: navBar"></header>
<ul>
<th:block th:each="user: ${users}">
    <li><a th:text="${user.username}" th:href="'/blog/user/' + ${user.id}"></a> </li>
</th:block>
</ul>
<form method="post">
    <label>
        Add new user:
        <input type="text" th:field="${newUser.username}">
    </label>
    <p class='error' th:errors="${newUser.username}"></p>
    <button>Submit</button>
</form>
</body>
</html>